<!--
_____________________________________________
|        | current directory,file view choice|
|        |___________________________________|                              
|  user  |  _   _   _   _   _   _   _   _    |      
|  data  | |_| |_| |_| |_| |_| |_| |_| |_|   |                
|        |  _   _   _   _   _   _   _   _    |  
|  some  | |_| |_| |_| |_| |_| |_| |_| |_|   |             
| control|  _   _   _   _   _   _   _   _    |       
| buttons| |_| |_| |_| |_| |_| |_| |_| |_|   |                     
|        |  files some data about them       |                     
|________|___________________________________|


-->

<app-file-system></app-file-system>
